@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

/* Top Nav Start Here */

nav {
    display: flex;
    flex-direction: row;
    padding: 20px 100px;
}
.right-nav {
    display: flex;
    text-decoration: none;
}

.left-nav {
    display: flex;
    text-decoration: none;
}

.right-nav li {
    list-style: none;
}

.left-nav li {
    list-style: none;
}

.nav-img {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Top Nav Styling End Here */


.middle-nav {
    display: flex;
    margin-left: 200px;
    align-items: center;
    cursor: pointer;
}

.middle-nav li:hover {
    border-bottom: 3px solid #e19a00;
    margin-bottom: 5px;
}

.middle-nav li {
    list-style: none;
    margin-right: 50px;
}

/* Middle Nav Styling End Here */

.banner-img {
    background: url(./images/banner.png) no-repeat;
    height: 100%;
    width: 100%;
}

/* banner Styling Start Here */

.banner-right {
    font-family: 'Quicksand', sans-serif;
    padding-top: 100px;
}

.span-text {
    color: #e19500;
}
.banner-Heading {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.shop-button {
    position: relative;
    padding: 7px 37px !important;
    margin: 0px 7px;
    cursor: pointer;
}
.shop-button:hover {
    background-color: #e19500 !important;
    transition: 900ms;
    left: 0;
}

.btn-success {
    background-color: #61bc01 !important;
}

.shop-icon {
    position: absolute;
    width: 17% !important;
    right: 6px;
}

.img-fluid {
    position: relative;
    bottom: 34px;
}

/* Banner Styling Ends Here */


/* Middle Section Styling Starts Here */


.middle-section {
    padding: 0 0 100px 0;
}

.men-section, .women-section{
    margin-left: 215px;
    background: url(./images/background-text.png) no-repeat;
    width: 100%;
    /* opacity: 0.5; */
    z-index: 99;
    position: relative;
}

.middle-sec-heading {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #343b5e !important;
}

.middle-button {
    padding: 4px 30px !important;
}

.back-image {
    position: absolute;
    bottom: -166px;
}


.tabs-line {
    border-right: 2px solid rgb(87, 85, 85);
    height: 41%;
    position: relative;
    top: 13px;
}

/* Middle Section Styling Ends Here */


/* Production Section Stying Starts Here */

.products {
    background-color: #f3fbfe;
    padding: 50px 0;
    position: relative;
}

.product-title {
    color: #343b5e;
}
.product-text {
    color: #878787;
}

.products-nav {
    text-decoration: none;
}

.product-ul {
    list-style: none;
    display: flex;
    margin-bottom: 68px;
}

.product-ul, li {
    margin-right: 30px;
    color: #878787;
    cursor: pointer;
}

.product-ul li:hover {
    color: #000;
    border-bottom: 3px solid #e19500;
}

.card-yellow {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #e19500;
}

.card-text {
    color: #343b5e;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}
.card-price {
    color: gray;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.outer-image {
    position: absolute;
    right: 35px;
    bottom: 382px;
    width: 15%;
}

.view-all {
    padding: 160px 0 0 0;
    color: #99cc34;   
    position: relative;
}

.right-open {
    position: absolute;
    bottom: -4px;
}

/* Product Section Styling Ends Here */



/* Design Section Styling Starts Here */

.design {
    position: relative;
    padding: 100px 0;
}

.design-background {
    background: url(./images/background-text.png) no-repeat;
    width: 100%;
    z-index: 99;
    position: relative;
    padding-top: 88px;
}

.design-heading {
    color: #343b5e;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.design-text {
    color: #343b5e;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}
.design-back {
    position: absolute;
    bottom: 163px;
}


/* Design Section Styling Ends Here */


/* Collection Section Styling Starts Here */

.collection-heading, .collection-text {
    color: #343b5e;
    font-family: 'Quicksand', sans-serif; 
    font-weight: 700;  
}

.collection-heading, .container-fluid {
    overflow: hidden;
}

.collection-cards {
    position: relative;
}

.collection-button {
    position: relative;
    top: -112px;
    bottom: 0;
    left: 198px;
    right: 0;
    padding: 7px 32px !important;
}


/* Collection Section Styling Ends Here */


/* Sign Up Section Styling Starts Here */

.signup {
    background: url(./images/bottom-banner.png) no-repeat;
    height: 100%;
    padding: 150px 0;
}
.sign-up-icons {
    width: 18%;
}
.signup-text {
    color: gray;
}
.signup-yellow {
    color: #e19500;
}
.signup-heading {
    font-size: 3.5rem;
    font-family: 'Quicksand', sans-serif; 
    font-weight: 700;  
    padding-top: 130px;
}

.input-group {
    padding: 0 352px;
}

.input-group, .form-control {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-field {
    padding-top: 85px;
}
.input-space {
    border-top-left-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
}

.input-button {
    color: #fff !important;
    padding: 9px 18px !important;
    letter-spacing: 4px;
}

/* Sign Up Section Styling Ends Here */


/* Footer Section Styling Starts Here */

footer {
    padding: 100px 0 15px 0;
}

.footer-yellow {
    color: #e19500;
}
.footer-titles {
    font-family: 'Quicksand', sans-serif; 
    font-weight: 700;  
}

.footer-text {
    display: flex;
    justify-content: end;
}

footer p, i {
    cursor: pointer;
}

footer p:hover {
    color: #e19500;
}

/* Footer Section Styling Ends Here */



/* external css: flickity.css */

.girl-img {
    position: relative;
    bottom: 200px !important;
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: transparent;
}

.carousel-cell {
  width: 100%;
  /* height: 100%; */
  margin-right: 10px;
  background: transparent;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
  opacity: 0.1;
}

.all-button, .men-button, .woman-button, .top-up-button {
    background-color: transparent !important;
    color: #343b5e !important;
    cursor: pointer;
    margin-bottom: 50px;
}


.all-button:hover {
    border-bottom: 3px solid #e19500 !important;
}
.men-button:hover {
    border-bottom: 3px solid #e19500 !important;
}
.woman-button:hover {
    border-bottom: 3px solid #e19500 !important;
}
.top-up-button:hover {
    border-bottom: 3px solid #e19500 !important;
}






/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1300px ) {

    nav {
        padding: 0;
    }

    .middle-nav {
        margin-left: 0;
    }
    .middle-nav {
        margin-left: 0;
    }

    .middle-nav li {
        margin-right: 30px;
    }

    .back-image {
        position: absolute;
        bottom: -248px;
        right: 51px;
    }
    .middle-section {
        padding: 0px 0;
    }

    .men-section, .women-section {
        margin-left: 215px;
        background: url(./images/background-text.png) no-repeat;
        width: auto;
    }

    .design-back {
        bottom: 17px;
    }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1200px) {
    nav {
        padding: 0;
    }

    .middle-nav {
        margin-left: 0;
    }
    .middle-nav {
        margin-left: 0;
    }

    .middle-nav li {
        margin-right: 30px;
    }

    .back-image {
        display: none;
    }
    .middle-section {
        padding: 0px 0;
    }

    .men-section, .women-section {
        margin-left: 215px;
        background: url(./images/background-text.png) no-repeat;
        width: auto;
    }

    .design-back {
        bottom: 17px;
    }

    .input-group {
        padding: 0 214px;
    }
    .collection-button {
        position: relative;
        top: -112px;
        bottom: 0;
        left: 102px;
        right: 0;
        padding: 5px 32px !important;
    }
  
  
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 992px) {
   
    nav {
        padding: 0;
    }

    .middle-nav {
        display: none !important;
    }
    .middle-nav {
        margin-left: 0;
    }

    .middle-nav li {
        margin-right: 30px;
    }
    .banner-Heading {
        font-size: 20px;
    }

    .back-image {
        display: none;
    }
    .middle-section {
        padding: 0px 0;
    }

    .men-section, .women-section {
        margin-left: 0;
        background: url(./images/background-text.png) no-repeat;
        width: auto;
    }

    .design-back {
        bottom: 17px;
    }

    .input-group {
        padding: 0 83px;
    }
    .collection-button {
        position: relative;
        top: -112px;
        bottom: 0;
        left: 36px;
        right: 0;
        padding: 5px 32px !important;
    }

    .middle-sec-text {
        font-size: 10px;
    }
    .outer-image {
        display: none;
    }

}

/* Landscape phones and portrait tablets */
@media (min-width: 480px) and (max-width: 768px) {

    nav {
        padding: 0;
    }
    .navigation {
        display: none;
    }

    .middle-nav {
        display: none !important;
    }
    .middle-nav {
        margin-left: 0;
    }

    .middle-nav li {
        margin-right: 30px;
    }
    .banner-Heading {
        font-size: 20px;
    }
    .banner-side-img {
        display: none;
    }
    .banner-right {
        padding-top: 0;
    }
    .back-image {
        display: none;
    }
    .middle-section {
        padding: 80px 0;
    }

    .men-section, .women-section {
        margin-left: 0;
        background: url(./images/background-text.png) no-repeat;
        width: auto;
    }

    .design-back {
        display: none;
    }

    .input-group {
        padding: 0 83px;
    }
    .collection-button {
        position: relative;
        top: -112px;
        bottom: 0;
        left: 36px;
        right: 0;
        padding: 5px 32px !important;
    }

    .middle-sec-text {
        font-size: 10px;
    }
    .outer-image {
        display: none;
    }
   


}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    nav {
        padding: 0;
    }
    .navigation {
        display: none;
    }
    .right-nav {
        display: none !important;
    }
    .left-nav {
        padding-left: 0 !important;
    }

    .middle-nav {
        display: none !important;
    }
    .middle-nav {
        margin-left: 0;
    }

    .middle-nav li {
        margin-right: 30px;
    }
    .banner-Heading {
        font-size: 36px;
    }
    .girl-img {
        padding-top: 65px;
    }
    .banner-side-img {
        display: none;
    }
    .banner-right {
        padding-top: 0;
    }
    .back-image {
        display: none;
    }
    .middle-section {
        padding: 0;
    }

    .men-section, .women-section {
        margin-left: 0;
        background: url(./images/background-text.png) no-repeat;
        width: auto;
    }
    .design {
        padding: 0;
    }

    .design-paragraph {
        font-size: 12px;
    }
    .middle-button {
        margin-bottom: 52px;
    }
    .design-back {
        display: none;
    }

    .input-group {
        padding: 0;
    }
    .collection-button {
        position: relative;
        top: -112px;
        bottom: 0;
        left: 36px;
        right: 0;
        padding: 5px 32px !important;
    }

    .middle-sec-text {
        font-size: 10px;
    }
    .outer-image {
        display: none;
    }
   

}